.app {
  text-align: center;
  width: 500px;
  margin: auto;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.75rem;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.section {
  margin-bottom: 3rem;
}
